
body {
	background: #f0fff0;
}

#map {
	position:fixed;
	left:20%;
	top:0;
	width:80%;
	height:100%;
}

.leaflet-popup-content {
	font: 1.2em serif;
}

.desc {
	margin:0 !important;
	border: #800 solid thin;
	background: #F88;
}

.edit_links {
	margin:8px 5px !important;
}

.leaflet-popup-content>form {
	background: #FFD;
}

.footnote {
	font-size: .8em;
	margin: 0 !important;
}

#outline {
	font-size: 0.7em;
	width: 20%;
}

#outline ul {
	margin: 0;
	padding: 0 0 0 16px;
	list-style: none;
}

#outline li {
	cursor: auto;
	margin-left: 0px;
}

#outline div>label {
	font-style: italic;
}

body, form {
	margin: 0;
	padding: 0;
}

input[name^=tree] {
	position: absolute;
	opacity: 0;
}

input[name^=tree] + label:before {
	content: url("img/oopen.png");
}

input[name^=tree]:checked + label:before {
	content: url("img/oclose.png");
}

input[name^=tree] ~ ul {
	display: none;
}

input[name^=tree]:checked ~ ul {
	display: block;
}

#outline li>img:first-child {
	/* align non-tristate errors with tristate errors */
	margin-left: 19px;
}
