

.p1 { margin:0px; margin-right:13px; border-style:solid; border-width:thin; border-color:#800000; background-color:#FF8080; }

.p2 { margin:5px; padding-top:3px; padding-bottom:3px;}

.p3 { background-color:#FFFFD0; }


#outline {
	font-size: 0.7em;
	width: 20%;
}

#outline ul {
	margin: 0;
	padding: 0 0 0 16px;
	list-style: none;
}

#outline li {
	cursor: auto;
	margin-left: 0px;
}

#outline div>label {
	font-style: italic;
}

body, form {
	margin: 0;
	padding: 0;
}

input[name^=tree] {
	position: absolute;
	opacity: 0;
}

input[name^=tree] + label:before {
	content: url("img/oopen.png");
}

input[name^=tree]:checked + label:before {
	content: url("img/oclose.png");
}

input[name^=tree] ~ ul {
	display: none;
}

input[name^=tree]:checked ~ ul {
	display: block;
}

#outline li>img:first-child {
	/* align non-tristate errors with tristate errors */
	margin-left: 19px;
}
